#slider {
  .slider__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slick-slider {
    .slick-list {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .slick-arrow {
      color: red;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      &::before {
        font-size: 50px;
        color: darkcyan;
      }
    }
    .slick-prev {
      left: -60px;
    }
    .slick-next {
      right: -60px;
    }
    .slick-dots {
      li {
        // width: 0;
        // height: 0;
        margin: 0 !important;
        button {
          width: 0;
          height: 0;
          &::before {
            color: darkcyan;
            font-size: 15px;
          }
        }
      }
    }
  }
}
