.dashboard-link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;

  span {
    color: #fff;
  }

  svg {
    fill: #fff;
  }
}

.css-i4bv87-MuiSvgIcon-root {
  fill: #fff;
}

.css-ylb11c-MuiDivider-root {
  // color: #fff;
  background-color: #fff;
}

.dashboard-toggle {
  svg {
    fill: #fff !important;
  }
}

.nav .active {
  background-color: #fff;
  
  span {
    color: #093545;
  }

  svg {
    fill: #093545;
  }
}

.dashboard__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.dashboard__card {
  padding: 32px 24px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 16px;
  min-height: 111px;

  h3 {
    color: rgb(108, 115, 127);
  }

  p {
    font-size: 30px;
    font-weight: 700px;
  }
}

.card__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__bottom {
  p {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 700;
  }

}

.card__image {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: red;

  svg {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.users__image {
  background-color: #10B981;
}

.categories__image {
  background-color: #F79009;
}

.products__image {
  background-color: #6366F1;
}

@media (max-width: 1200px) {
  .dashboard__row {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width: 600px) {
  .dashboard__row {
    grid-template-columns: repeat(1, 1fr)
  }
}




