#my-cart {
  gap: 50px;
  padding-bottom: 100px;
  h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .cart-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    .cart-products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
    .cart-actions-wrapper {
      .cart-actions{
        position: -webkit-sticky;
        position: sticky;
        top: 90px;
        .cart-summary {
          width: 100%;
          border-radius: 20px;
          border: 2px solid #008b8b;
          padding: 5px;
          h2 {
            margin: 15px 15px 20px;
          }
          &__content {
            margin: 15px 15px 20px;
            div {
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
            }
            a{
              margin-top: 20px;
              width: 100%;
            }
            hr{
              margin: 20px 0;
            }
            .summary-form{
              display: flex;
              flex-direction: column;
              gap: 10px;
              textarea{
                border: 1px solid #008b8b;
                outline-color: #008b8b;
                padding: 10px;
                font-size: 18px;
                border-radius: 10px;
              }
            }
          }
        }
        .clearCart{
          margin-top: 20px;
          width: 100%;
        }
      }
    }

    .empty{
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img{
        position: relative;
        height: 300px;
        width: 300px;
      }
      h3{
        margin-bottom: 10px;
      }
    }
  }
}
